header{
    color:#fff;
    font-size: 35px;
}
header  img{
    width: 200px;
}
.caixa{
    display: flex;
    flex-direction: column;
     text-align: center;
    
     background: linear-gradient(to right, #030a13, #030714, #030c13, #030c18, #030f1f);
     
}

:root{
    --colorBack: #fff;
    --colorPurple: #9800ce;
    --colorGrey: rgb(87, 87 ,87);
    --colorCiano: rgb(0, 156, 184);
    --colorBlue: #223F49;
 }
 
 

section{
    width: 100%;
    height: 100vh;
    position: relative;
}

section div.background-section{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 0;
    
}
section div.background-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section div.box{
    display: flex;
    position:relative;
    z-index: 1;
    text-align: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9)
    , transparent);   
    height: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
section div.box img{
    width: 300px;
    padding: 10px;
}
section div.box p{
   color: white;
   font-size: 24px;
   line-height: 32px;
}


.trabalhos{
    width: 400px;
    text-align: center;
    margin: auto;

}
.trabalhos li h1{
    padding-top: 10px;
    color: white;
    font-size: 24px;
    line-height: 32px;
}
.trabalhos li{ 
    
    border: 2px solid var(--colorBlue);
    border-radius: 10px ;
    background: transparent;
    color: var(--colorBlue);
    cursor:pointer;}
.trabalhos li:hover{
        box-shadow: 0 0 15px var(--colorPurple),inset 0 0 15px var(--colorPurple);
        text-shadow: 0 0 15px var(--colorPurple);
       border-color: var(--colorGrey);
       transition: all 0.2s ease-in-out;
     }
.trabalhos li:active{
       border-color: var(--colorCiano);
     }
.trabalhos li:hover h1{
       font-size: 34px;
       transition: 1s;
       font-weight: bold;
     }
    
     footer{
        text-align: center;
        padding: 40px 0;
        background: linear-gradient(to right, #030a13, #030714, #030c13, #030c18, #030f1f);
        color: #fff;    
    }

